# Ignore model files
*.pt
*.tflite
*.onnx
*.txt
*.npy

# Ignore other files
.DS_Store
data.yaml

# secrets
*.env

# Ignore folders
/test
/train
/valid
/runs
/best_saved_model
/yolo_service/videos
/yolo_service/predictions
/best_300_saved_model
__pycache__