# Ignore model files
*.pt
*.tflite
*.onnx
*.npy

# Ignore other files
.DS_Store
data.yaml

# secrets
*.env

# Ignore folders
/yolo_service/videos
/yolo_service/predictions
/tsg
__pycache__

# Public path
/public
